@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.color-nav{
    background: rgba(0, 255, 0, 0.473);
    font-family: 'Alfa Slab One';
}
.navbar-brand img{
    width: 5vw;
    border-radius: 5vw; 
}
.ancho-carousel{
    width: 50vw;
    margin: 0 auto;
}
.container {
    font-family: 'Alfa Slab One';
}
.footer img{
    width: 3vw;
}