@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.color-nav {
    background: rgba(0, 255, 0, 0.473);
    font-family: 'Alfa Slab One';
}
.navbar-brand img {
    width: 10vw;
    border-radius: 5vw;
}
.ancho-carousel {
    width: 90vw;
    margin: 0 auto;
}
.ancho-carousel h5 {
    color: white;
    background-color: rgb(11, 99, 11);
    border-radius: 5vw;
}
.ancho-carousel p {
    color: white;
    background-color: rgb(11, 99, 11);
    border-radius: 5vw;
}
.container1 {
    margin: 5vw;
    font-family: 'Alfa Slab One';
}
.footer img {
    width: 5vw;
}
.footer {
    background-color: rgba(0, 255, 0, 0.247);
    margin-top: 5vh;
}
.fa-facebook-f{
    font-size: 2rem;
}
.fa-instagram{
    font-size: 2rem;
}
.fa-twitter{
    font-size: 2rem;
}
.copy {
    background-color: rgb(0, 255, 21);
}
.copy a {
    text-decoration: none;
    background-color: white;
    border-radius: 3vw;
    border: 2px solid rgba(0, 255, 0, 0.247);
}
.copy a:hover {
    color: white;
    background-color: green;
    transition: .5s;
}
.color-boton{
    background-color: rgb(209, 16, 16);
    color: white;
}
.btn:hover {
    color: black;
    background-color: rgb(185, 184, 184);
    border-color: var(--bs-btn-hover-border-color);
}
.row{
    justify-content: space-evenly;

}

.card{
        background-color: rgb(185, 184, 184);
}